<div class="cs-account-form__container" id="cs-form-container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1 class="cs-account-form__title1">Create Account</h1>
        <div class="social-container">
          <a href="" class="social social--fb"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="social social--gm"><i class="fab fa-google-plus-g"></i></a>
          <a href="" class="social social--lk"><i class="fab fa-linkedin-in"></i></a>
        </div>  
        <span class="text--sub__bigger">or use your email for registration</span>
        <input type="text" name="" placeholder="Name" id="cs-form-name">
        <input type="email" name="" id="cs-form-email" placeholder="Email">
        <input type="password" name="" id="cs-form-password" placeholder="Password">
        <button>Sign Up</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form action="#">
        <h1 class="cs-account-form__title1">Log In</h1>
        <div class="social-container">
          <a href="" class="social social--fb"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="social social--gm"><i class="fab fa-google-plus-g"></i></a>
          <a href="" class="social social--lk"><i class="fab fa-linkedin-in"></i></a>
        </div>
      <span class="text--sub__bigger">or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#"><span class="text--sub">Forgot your password?</span></a>
      <button>Log In</button>
      </form>
    </div>
  
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1 class="cs-account-form__title2">Already Sign Up</h1>
					<p class="text--sub">Time to learn</p>
					<button class="ghost" id="cs-form-signIn">Log In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1 class="cs-account-form__title2">New To CSourse</h1>
					<p class="text--sub">Sign up now to start</p>
					<button class="ghost" id="cs-form-signUp">Sign Up</button>
				</div>
			</div>
		</div>	
</div>
