{% load widget_tweaks %}
<div class="cs-account-form__container cs-signup" id="cs-form-container">

    <div class="form-container sign-in-container" id="login-container">
      <form action="{% url 'accounts:login' %}" method="post" id="login-form">
        {% csrf_token %}
        <h1 class="cs-account-form__title1">Log In</h1>
        <div class="social-container">
          <a href="" class="social social--fb"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="social social--gm"><i class="fab fa-google-plus-g"></i></a>
          <a href="" class="social social--lk"><i class="fab fa-linkedin-in"></i></a>
        </div>
      <span class="text--sub__bigger">or use your account</span>
        <div class="alert alert-danger alert-login" role="alert">
          <span class="error-message" id="login-err-msg"></span>
        </div>

        <div class="form-group">
          <label for="login-username">
          Username
          </label>
          <input type="text" placeholder="Username" id="login-username"/>
          <label for="login-password">Password</label>
          <input type="password" placeholder="Password" id="login-password" />
          <a href="#"><span class="text--sub">Forgot your password?</span></a>
        </div>
        <button class="cs-form-btn" type="submit" name="login" id="btn-login">Log In</button>
      </form>
    </div>
  
   <div class="form-container sign-up-container" id="sign-up-container">
      <form action="{% url 'accounts:signup' %}" method="post" id="signup-form">
        {% csrf_token %}
        <h1 class="cs-account-form__title1">Create Account</h1>
        <div class="social-container">
          <a href="" class="social social--fb"><i class="fab fa-facebook-f"></i></a>
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="social social--gm"><i class="fab fa-google-plus-g"></i></a>
          <a href="" class="social social--lk"><i class="fab fa-linkedin-in"></i></a>
        </div>  
        <div class="alert alert-danger alert-signup" role="alert">
          <span class="error-message" id="signup-err-msg"></span>
        </div>
        <span class="text--sub__bigger">or use your email for registration</span>
         <div class="form-group">
            <label for="signup-username">Username</label>
            <input type="text" name="" placeholder="Username" id="signup-username">
            <label for="signup-email">Email</label>
            <input type="email" name="" id="signup-email" placeholder="Email">
            <label for="signup-password">Password</label>
            <input type="password" name="" id="signup-password" placeholder="Password">
         </div>
        <button class="cs-form-btn" type="submit" name="signup">Sign Up</button>
      </form>
    </div>

  
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1 class="cs-account-form__title2">Already Sign Up</h1>
					<p class="text--sub">Time to learn</p>
					<button class="cs-form-btn ghost" id="cs-form-signIn">Log In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1 class="cs-account-form__title2">New To CSourse</h1>
					<p class="text--sub">Sign up now to start</p>
					<button class="cs-form-btn ghost" id="cs-form-signUp">Sign Up</button>
				</div>
			</div>
		</div>	
</div>
