{% load static %}
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5>CSource TRAINING</h5>
        <br/>
        <p style="color: white">HÃY ĐẾN VỚI CHÚNG TÔI ĐỂ TRẢI NGHIỆM NHỮNG KHÓA HỌC HÀNG ĐẦU !!!</p>
        <div class="img-fluid align-center">
          <img src="{% static 'img/footer.png' %}" width="150px">
        </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">TRỢ GIÚP</h5>
        <br/>

        <ul class="list-unstyled">
          <li>
            <a href="#!"> Hướng dẫn đăng ký </a>
          </li>
          <li>
            <a href="#!">Hướng dẫn thanh toán</a>
          </li>
          <li>
            <a href="#!">Tài khoản giao dịch</a>
          </li>
          <li>
            <a href="#!">Liên hệ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">KẾT NỐI VỚI CHÚNG TÔI</h5>
        <br/>

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-envelope-square"></i> Email</a>
          </li>
          <li><i class="fab fa-facebook-square"></i> Facebook</li>
          <li>
            <i class="fab fa-twitter-square"></i> Twitter</a>
          </li>
          <li>
            <i class="fab fa-google-plus-square"></i> Google plus</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">©2019 Copyright:
    <a href="#">CsourceTraining.com</a>
  </div>
  <!-- Copyright -->

</footer>
