{% load static %}
<header class="cs-main-header" id="main-header">
    <div class="header-content">
      <nav class="navbar navbar-extend-lg cs-navbar">
        <a href="{% url 'homepage' %}" class="navbar-brand cs-logo">
          <img src="{% static 'img/temp-logo.png' %}" class="cs-logo__img" alt="cs-logo">
        </a>
        <div class="navbar_supported cs-navbar-item">
          <ul class="navbar-nav">
            <li class="search_box">
              <form action="{% url 'courses' %}" method="get" class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" name="search" aria-label="search" placeholder="Tìm khoá học...">
                  <button type="submit" class="btn cs-search-btn"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </li>
            <li class="header-item">
              <a href="{% url 'about' %}">About</a>
            </li>
            <li class="header-item">
              <a href="{% url 'courses' %}">Explore</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active-nav" id="logout-btn">
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <input type="submit" class="btn cs-btn cs-btn--animated cs-btn--fixed nav-link" id="logout-input" value="Logout"/>
                    </form>
                </li>
            {% else %}
{#                <li class="nav-item active-nav " id="signup-btn">#}
{#                  <a id="signup-btn" class="cs-btn cs-btn--animated cs-btn--fixed nav-link" href="javascript:">Sign up</a>#}
{#                </li>#}
                <li class="nav-item active-nav">
                  <a data-fancybox="account" data-type="ajax" data-animation-effect="zoom" data-src="{% url 'accounts:user_connect' %}" id="login-btn" class="cs-btn cs-btn--animated cs-btn--fixed nav-link" href="javascript:">Log in</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
  </div>
</header>
