h1 {
	color: #00c6d1;
}

.section-filter-course {
	margin-top: 30vh;
	background: $main-blur-color;
	padding-top: 30px;
	padding-bottom: 40px;

	.filter-area {
		align-items: center;
	}

	.cs-filter-item {
		margin-right: 50px;
		width: 15rem;
		.dropdown {
			background: #5897fb;
			border-radius: 0.2rem;
			button {
				color: #ffffff;
				font-size: 1.3rem;
			}
		}
	}

}

.section-course-show {
	.courses-area {
		flex-wrap: wrap;
		.course-item {
			padding: 16px;
			flex-grow: 0;
			max-width: 25%;
			flex-basis: 25%;
			.course-card {
				background: #ffffff;
				text-align: center;
				box-shadow: 0px 5px 15px 0px rgba(68,68,68,0.1);
				border-radius: 5px;
				height: 400px;
				.card-avatar {
					img {
						width: 80%;
						height: 200px;
					}
				}
				.card-body {
					.card-title {
						background: linear-gradient(90deg, #5637f2 0%, #7f79f1 100%);
    					padding: 10px;
						p {
							font-size: 20px;
						}
						a {
							color: white;
							text-decoration: none;
						}
					}

				}
			}
		}

	}
}


.section-course-banner {
	background: $theme-linear-color;
	height: 400px;
	.cs-nav-breadcrumb {
		ol {
			background: none;
			padding-left: 0;
			padding-top: 30px;
			li {
				color: white;
				a {
					color: white;
				}
			}
			.breadcrumb-item + .breadcrumb-item::before {
				content: '>';
				color: white;
			}

		}
	}

	.course-banner {
		.course-detail {
			width: 60%;
			.course-title {
				margin-top: 30px;
				color: white;
			}
			.course-description {
				color: white;
			}
			.banner-btn {
				@include banner-btn(white,$theme-font-color);
				box-shadow: 0 19px 38px rgba(247, 247, 247, 0.1), 0 15px 12px rgba(255, 255, 255, 0.09);
				height: 90px;
			}

			margin-right: 40px;
		}

		.course-avatar {
			width: 30%;
			img {
				width: 100%;
			}
			margin-bottom: 40px;
		}
	}
}
