.btn {



	&--cs-action,&:link, &:visited {
		box-shadow: $button-box-shadow2;
	}
	&--banner {
		@include banner-btn($theme-linear-color,white);
		margin-left: 30%;
	}

	&--animated {
		transition: transform 0.2s ease;
		&:hover {
			transform: translateY(-3px);
			color: #ffffff;
		}
		&:active {
			transform: translateY(-1px);
			box-shadow: $button-click-box-shadow2;
		}
	}
}

