@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:300,400,400i,500,600,700|Source+Sans+Pro:400,600,700");
@import "utils";

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

body {
	font-family: "Poppins", sans-serif;
	background: #f2f2f2;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body p {
  color: rgba(0, 0, 0, 0.702);
  margin: 0;
  font: 400 16px/30px "Lato", sans-serif;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body section.row, body header.row, body footer.row {
  margin: 0;
}

.section {
	padding-left: 30px;
	padding-right: 30px;
}

.page {
	position: relative;
}

// header
.cs-main-header {
	position: relative;
	width: 100%;
	z-index: 1000;
	height: 120px;
	transition: transform 500ms ease, background 500ms ease;
	.header-content{
		.cs-navbar {
			justify-content: flex-start;
			.cs-navbar-item {
				display: flex;
				align-items: center;
				flex-grow: 1;
				.search_box {
					width: 40%;
					.input-group {
						width: 100% !important;
						input {
							outline: none;
						}
						.cs-search-btn {
							background-color: $theme-font-color;
							i {
								color : white;
							}
							&:hover {

							}
						}
					}

				}

				.header-item {
					a {
						font-weight: bold;
					}
				}
			}

			.cs-logo {
				margin-right: 100px;
			}

			ul{
				width: 100%;
				flex-direction: row;
				align-items: center;
				.search_box {
					input,button {
						border-radius: 0px;
					}
				}

				li {
					display: inline-block;
					list-style: none;
					margin-right: 30px;
				}

				#signup-btn, #logout-btn {
					margin-left: 180px;
				}

				.cs-action-btn {
					border-radius: 5px;
					background: linear-gradient(90deg, rgba(86,55,242,1) 0%, rgba(127,121,241,1) 100%);
					width: 100px;
					box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
					a {
						color: white;
						text-align: center;
					}
					#logout-input {
						width: 100%;
						color: white;
					}
				}
			}
			a img {
			width: 100px;
			height: 100px;
			}
		}
	}

}
.cs-main-header.cs-header-fixed {
	position: fixed;
	width: 100%;
	top: -70px;
	left: 0;
	right: 0;
	background: #ffffff;
	z-index: 1000;
	transform: translateY(70px);
	transition: transform 500ms ease, background 500ms ease;

	.header-content {
		.cs-navbar{
			.cs-navbar-item {
				.navbar-nav{
					.cs-action-btn {

					}
				}
			}
		}
	}
}
// banner
.section-banner {
	&::before {
		position: absolute;
		content: url("../static/img/banner-background.png");
		right: 0;
		top: 0;
		z-index: -1;
	}


	margin: 0 auto;
	position: relative;
	z-index: 1;
	height: 500px;
	.banner-content {
		.banner-content-left {
			position: absolute;
			top: 130px;
			left: 0;
			z-index: 900;
			max-width: 50%;
			padding-left: 50px;

			.banner-slogan {
				h1 {
					font-size: 50px;
					color: $dark-blue-color;
					p {
						font-size: 80px;
						font-weight: 700;
						margin-top: 20px;
						color: #00c6d1;
					}
				}
			}

			.banner-description {
				h5 {
					font-size: 20px;
					font-weight: 400;
					line-height: 28px;
					color: $theme-font-color;

				}
			}

			.banner-btn {
				border-radius: 5px;
				background: linear-gradient(90deg, rgba(86,55,242,1) 0%, rgba(127,121,241,1) 100%);
				width: 200px;
				height: 80px;
				box-shadow: 0 19px 38px rgba(51, 0, 253, 0.29), 0 15px 12px rgba(52, 58, 251, 0.16);
				color: white;
				font-weight: 700;
				outline: none;
				transition: background 500ms ease,color 500ms ease, box-shadow 500ms ease;
				font-size: 20px;
				margin-left: 30%;

				&:hover {
					box-shadow: none;
					transition: background 500ms ease,color 500ms ease, box-shadow 500ms ease;
				}
			}
		}
		.banner-content-right {
			position: absolute;
			top: -40px;
			right: 0;
		}
	}
}


