{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <section class="section section-filter-course mb-5" id="cs-filter-course">
    <p class="mb-3 text--info">
      There are {{ course_num }} courses in total
    </p>
    <div class="filter-area d-flex justify-content-start">
      <div class="mr-3 text--sub">Lọc theo</div>
      <div class="cs-filter-item">
        <div class="dropdown cs-dropdown">
        <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cấp độ
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Nhập môn</a>
          <a class="dropdown-item" href="#">Trung cấp</a>
          <a class="dropdown-item" href="#">Nâng cao</a>
        </div>
      </div>
      </div>
      <div class="cs-filter-item">
        <div class="dropdown cs-dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lĩnh vực
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Ngôn ngữ lập trình</a>
            <a class="dropdown-item" href="#">Mạng</a>
            <a class="dropdown-item" href="#">Lập trình web</a>
            <a class="dropdown-item" href="#">Lập trình mobile</a>
            <a class="dropdown-item" href="#">Lập trình nhúng</a>
          </div>
        </div>
      </div>
      <div class="cs-filter-item">
        <div class="dropdown cs-dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thời gian mở
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Tháng 1</a>
          <a class="dropdown-item" href="#">Tháng 2</a>
          <a class="dropdown-item" href="#">Tháng 3</a>
        </div>
      </div>
      </div>
      <div class="cs-filter-item">
        <div class="dropdown cs-dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Điểm đánh giá
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">trên 4.5</a>
          <a class="dropdown-item" href="#">dưới 4.5</a>
        </div>
      </div>
      </div>
    </div>
  </section>
  <h1 class="text-center text--main__bigger">
    Courses
  </h1>
  <section class="section section-course-show mt-5" id="cs-show-course">
    {% if course_num > 0 %}
      <div class="courses-area d-flex justify-content-start">
      {% for course in courses %}
        <div class="course-item">
          <input type="checkbox" id="course-card{{ course.id }}" class="more" aria-hidden="true">
          <div class="course-card">
            <div class="course-card--side course-card--side__front">
              <div class="card-avatar">
                <img src="{{ course.avatar.url }}" alt="">
              </div>
              <div class="card-body">
                <div class="card-title" onclick="window.location.href = '{% url 'course_detail' course.code %}';">
                  <a href="{% url 'course_detail' course.code %}" class="text--sub__bigger">{{ course.name }}</a>
                </div>
                <hr>
                <p class="text--sub
                        {% if course.level == 'bg' %}
                          text-success
                        {% endif %}
                        {% if course.level == 'im' %}
                          text-primary
                        {% endif %}          
                        {% if course.level == 'ad' %}
                          text-danger
                        {% endif %}
                        {% if course.level == 'mx' %}
                          text-warning
                        {% endif %}    
                ">{{ course.get_level_display }}</p>
                <div class="row course-rating-score">
                  <div class="col-lg-12">
                    <div class="star-rating">
                        <i class="{% if course.rate_score >= 0.5 %} fas {% else %} fal {% endif %}  fa-star star-rating__star" data-rating="1"></i>
                        <i class="{% if course.rate_score >= 1.5 %} fas {% else %} fal {% endif %} fa-star star-rating__star" data-rating="2"></i>
                        <i class="{% if course.rate_score >= 2.5 %} fas {% else %} fal {% endif %} fa-star star-rating__star" data-rating="3"></i>
                        <i class="{% if course.rate_score >= 3.5 %} fas {% else %} fal {% endif %} fa-star star-rating__star" data-rating="4"></i>
                        <i class="{% if course.rate_score >= 4.5 %} fas {% else %} fal {% endif %} fa-star star-rating__star" data-rating="5"></i>
                        <input type="hidden" name="whatever1" id="rate-score-{{ course.id }}" class="star-rating__value" value="{{ course.rate_score }}">
                        ( {{ course.rate_score }} ) ( {{ course.rate_num  }})
                      </div>
                    </div>
                </div>
                <label for="course-card{{ course.id }}" class="btn btn-flip btn-flip--detail">More &rarr;</label>
            </div>
            </div>
            <div class="course-card--side course-card--side__back">
              <h1 class="text--main"> {{ course.name }}</h1>
              <hr>
              <p class="text--sub">{{ course.short_description }}</p>
              <label for="course-card{{ course.id }}" class="btn btn-flip btn-flip--return"><i class="fas fa-arrow-left"></i></label>
            </div>
            
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <div class="courses-not-found">
        <h3>Sorry there is no courses available!</h3>
        <div class="des-img">
          <img src="{% static 'img/not-found-data.png' %}" alt="" class="des-img__not-found-data">
        </div>
      </div>
    {% endif %}
    
  </section>

{% endblock %}
