{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    <div class="row slide">
        <div class="col-md-5">
            <div class="img-fluid align-center">
                <img src="{% static 'img/about.png' %}" width="100%">
            </div>
        </div>

        <div class="col-md-7">
            <h2> Giới thiệu</h2>
            <hr>
            <h5 id="history">Lịch sử hình thành và phát triển</h5>
            <hr>
            <p></p>
            <p>Được hình thành vào 11/2019, Trung tâm đào tạo trực tyến <b>APEX</b> đã và đang đạt được những thành công
                vô cùng nổi bật. <b>APEX</b> là một trung tâm đào tạo về lĩnh vực công nghệ thông tin. Trung tâm được
                thành lập bởi 2 sinh viên Bùi Duy Hùng và Trần Thị Anh của Khoa Khoa học & Kỹ thuật Máy tính, Trường Đại
                học Bách Khoa - Đại học Quốc gia Thành phố Hồ Chí Minh. <b>APEX</b> cung cấp các khóa học tới tất cả các
                đối tượng có nhu cầu nâng cao kiến thức về lĩnh vực công nghệ thông tin. </p>
            <br>
            <h5 id="-strategicvision">Tầm nhìn chiến lược</h5>
            <hr>
            <p>Hình thức đào tạo tập trung tại chỗ vẫn là phương pháp truyền thống được sử dụng nhiều nhất và vẫn mang
                lại hiệu quả tốt cho người học, tuy nhiên nó cũng có một số nhược điểm như người học phải có mặt trực
                tiếp tại địa điểm học, thời gian biểu được sắp xếp cố định, chi phí cao. Cho nên hiện nay cùng với sự
                phát triển công nghệ và internet, các hệ thống cung cấp các khoá học trực tuyến với hình thức mua khoá
                học và học qua video được cung cấp sẵn đang được ưa chuộng nhưng tính tương tác của phương pháp này
                không được đảm bảo so với phương pháp truyền thống.</p>
            <p> Do đó <b>APEX</b> muốn kết hợp 2 hình thức đào tạo trên bằng cách cung cấp các khoá học trực tuyến đa
                phương
                tiện đồng thời có các bài giảng tương tác thực giữa giảng viên và người học. Kết hợp hệ thống kiểm tra
                đánh giá năng lực và cung cấp các chứng chỉ tương ứng với kết quả của học viên. Do đó bất cứ ai cũng có
                thể tham gia, tiết kiệm chi phí và thời gian, cũng như chủ động trong việc sắp xếp thời gian của
                mình.</p>
            <p> Trong những năm sắp tới, trung tâm dự kiến sẽ mở thêm nhiều khóa học và thu hút thêm đông đảo các đối
                tượng học viên.
            </p>
        </div>
    </div>
</main>

{% endblock %}
