//footer
.page-footer {
	margin-top: 500px;
	color: white;
	font-size: 14px;

	.row {
		padding: 20px 10px 10px 10px;
	}

	.footer-logo {
		img {
			background: #f9f9f9;
			border-radius: 5px;
		}
	}

	.container-fluid {
		background-color: #706bcc;
	}

	ul li {
		margin-bottom: 1rem;
	}

	.footer-copyright {
		background-color: #6906d6;

		a {
			color: white;
		}
	}

		a {
			color: white;
		}

}
