.section-banner {
	&::before {
		position: absolute;
		content: url("../../static/img/banner-background.png");
		right: 0;
		top: 100px;
		z-index: -1;
	}
	margin: 0 auto;
	position: relative;
	z-index: 1;
	height: 50rem;

	.banner-content {
		.banner-content-left {
			position: absolute;
			top: 23rem;
			left: 0;
			z-index: 900;
			max-width: 50%;
			padding-left: 50px;

			.banner-slogan {
				h1 {
					font-size: 5rem;
					color: $dark-blue-color;

					p {
						font-size: 8rem;
						font-weight: 700;
						margin-top: 2rem;
						color: #00c6d1;
					}
				}
			}

			.banner-description {
				h5 {
					font-size: 2rem;
					font-weight: 400;
					line-height: 2.8rem;
					color: $theme-font-color;

				}
			}


		}

		.banner-content-right {
			position: absolute;
			top: 7rem;
			right: 0;
		}
	}
}
