$main-background-color:					#fafafa !default;
$theme-font-color:						#5637f2 !default;
$dark-blue-color: 						#242f6c !default;
$theme-linear-color:					linear-gradient(90deg, rgba(86,55,242,1) 0%, rgba(127,121,241,1) 100%) !default;
$main-blur-color:						#2584ff2e !default;
$info-font-size:						1.3rem !default;
$button-box-shadow:						0 12px 38px rgba(51, 0, 253, 0.29), 0 12px 12px rgba(52, 58, 251, 0.16) !default;
